
<style>

   .etage-nom {
      cursor: pointer;
  }
  
   .svg-container {
      flex: 2;
      border-right: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .info-container {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
   }

   .card {
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
   }

   .d-flex {
      display: flex;
  }
  
  .justify-content-between {
      justify-content: space-between;
  }
  
  .align-items-center {
      align-items: center;
  }

</style>



<div class="svg-container">
   
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1100" height="600"
   viewBox="0 0 1718 744"
   fill="none"
   version="1.1"
   id="svg474"
   sodipodi:docname="plan2.svg"
   inkscape:version="1.0.2 (e86c870879, 2021-01-15)">
  <metadata
     id="metadata480">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs478" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1920"
     inkscape:window-height="1006"
     id="namedview476"
     showgrid="false"
     inkscape:zoom="0.78987194"
     inkscape:cx="640.56095"
     inkscape:cy="237.81049"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg474" />
  <path
     d="M97.5455 104.68C97.4311 104.282 97.2705 103.931 97.0636 103.626C96.8567 103.316 96.6035 103.054 96.304 102.842C96.0099 102.624 95.6723 102.458 95.2912 102.344C94.9155 102.229 94.4989 102.172 94.0415 102.172C93.1867 102.172 92.4353 102.385 91.7873 102.809C91.1448 103.234 90.6438 103.852 90.2844 104.663C89.9251 105.469 89.7454 106.455 89.7454 107.62C89.7454 108.785 89.9223 109.776 90.2763 110.593C90.6302 111.41 91.1312 112.033 91.7791 112.463C92.4271 112.888 93.1921 113.1 94.0742 113.1C94.8746 113.1 95.558 112.959 96.1243 112.676C96.696 112.387 97.1316 111.982 97.4311 111.459C97.736 110.936 97.8885 110.318 97.8885 109.605L98.6072 109.711H94.2947V107.048H101.294V109.156C101.294 110.626 100.984 111.889 100.363 112.945C99.7425 113.996 98.8877 114.808 97.7987 115.379C96.7096 115.946 95.4627 116.229 94.0579 116.229C92.4897 116.229 91.1121 115.883 89.9251 115.191C88.738 114.494 87.8124 113.506 87.1481 112.227C86.4892 110.942 86.1598 109.417 86.1598 107.653C86.1598 106.297 86.3558 105.088 86.7479 104.026C87.1454 102.959 87.7008 102.055 88.4141 101.315C89.1274 100.574 89.9577 100.011 90.9052 99.6239C91.8526 99.2373 92.879 99.044 93.9844 99.044C94.9318 99.044 95.8139 99.1829 96.6307 99.4606C97.4474 99.7328 98.1716 100.119 98.8033 100.62C99.4403 101.121 99.9603 101.718 100.363 102.409C100.766 103.095 101.025 103.852 101.139 104.68H97.5455ZM103.853 116V113.452L109.807 107.939C110.313 107.449 110.738 107.007 111.081 106.615C111.43 106.223 111.694 105.839 111.873 105.464C112.053 105.083 112.143 104.672 112.143 104.23C112.143 103.74 112.031 103.318 111.808 102.964C111.585 102.605 111.28 102.33 110.893 102.14C110.507 101.944 110.068 101.846 109.578 101.846C109.067 101.846 108.62 101.949 108.239 102.156C107.858 102.363 107.564 102.66 107.357 103.046C107.15 103.433 107.046 103.893 107.046 104.426H103.69C103.69 103.332 103.937 102.382 104.433 101.576C104.928 100.77 105.623 100.147 106.516 99.7056C107.409 99.2646 108.438 99.044 109.603 99.044C110.801 99.044 111.844 99.2564 112.731 99.6811C113.624 100.1 114.318 100.683 114.814 101.429C115.309 102.175 115.557 103.03 115.557 103.994C115.557 104.625 115.432 105.249 115.181 105.864C114.936 106.479 114.498 107.163 113.866 107.914C113.235 108.66 112.344 109.556 111.196 110.601L108.753 112.994V113.109H115.778V116H103.853ZM124.899 116.368C123.494 116.362 122.285 116.016 121.272 115.33C120.265 114.644 119.489 113.65 118.945 112.349C118.406 111.048 118.139 109.482 118.144 107.653C118.144 105.829 118.414 104.274 118.953 102.989C119.497 101.704 120.273 100.727 121.281 100.057C122.293 99.3816 123.499 99.044 124.899 99.044C126.298 99.044 127.502 99.3816 128.509 100.057C129.522 100.732 130.3 101.712 130.845 102.997C131.389 104.277 131.659 105.829 131.653 107.653C131.653 109.488 131.381 111.056 130.837 112.357C130.298 113.659 129.524 114.652 128.517 115.338C127.51 116.025 126.304 116.368 124.899 116.368ZM124.899 113.435C125.857 113.435 126.622 112.953 127.194 111.99C127.766 111.026 128.049 109.58 128.043 107.653C128.043 106.384 127.913 105.328 127.651 104.484C127.395 103.64 127.031 103.005 126.557 102.581C126.089 102.156 125.536 101.944 124.899 101.944C123.946 101.944 123.184 102.42 122.612 103.373C122.04 104.326 121.752 105.752 121.746 107.653C121.746 108.938 121.874 110.01 122.13 110.871C122.391 111.726 122.759 112.368 123.233 112.798C123.706 113.223 124.262 113.435 124.899 113.435ZM133.922 113.06V110.275L140.905 99.2727H143.307V103.128H141.885L137.483 110.095V110.225H147.407V113.06H133.922ZM141.951 116V112.21L142.016 110.977V99.2727H145.332V116H141.951Z"
     fill="black"
     id="path272" />
  <path
     d="M314.545 106.68C314.431 106.282 314.27 105.931 314.064 105.626C313.857 105.316 313.603 105.054 313.304 104.842C313.01 104.624 312.672 104.458 312.291 104.344C311.915 104.229 311.499 104.172 311.042 104.172C310.187 104.172 309.435 104.385 308.787 104.809C308.145 105.234 307.644 105.852 307.284 106.663C306.925 107.469 306.745 108.455 306.745 109.62C306.745 110.785 306.922 111.776 307.276 112.593C307.63 113.41 308.131 114.033 308.779 114.463C309.427 114.888 310.192 115.1 311.074 115.1C311.875 115.1 312.558 114.959 313.124 114.676C313.696 114.387 314.132 113.982 314.431 113.459C314.736 112.936 314.888 112.318 314.888 111.605L315.607 111.711H311.295V109.048H318.294V111.156C318.294 112.626 317.984 113.889 317.363 114.945C316.743 115.996 315.888 116.808 314.799 117.379C313.71 117.946 312.463 118.229 311.058 118.229C309.49 118.229 308.112 117.883 306.925 117.191C305.738 116.494 304.812 115.506 304.148 114.227C303.489 112.942 303.16 111.417 303.16 109.653C303.16 108.297 303.356 107.088 303.748 106.026C304.145 104.959 304.701 104.055 305.414 103.315C306.127 102.574 306.958 102.011 307.905 101.624C308.853 101.237 309.879 101.044 310.984 101.044C311.932 101.044 312.814 101.183 313.631 101.461C314.447 101.733 315.172 102.119 315.803 102.62C316.44 103.121 316.96 103.718 317.363 104.409C317.766 105.095 318.025 105.852 318.139 106.68H314.545ZM320.853 118V115.452L326.807 109.939C327.313 109.449 327.738 109.007 328.081 108.615C328.43 108.223 328.694 107.839 328.873 107.464C329.053 107.083 329.143 106.672 329.143 106.23C329.143 105.74 329.031 105.318 328.808 104.964C328.585 104.605 328.28 104.33 327.893 104.14C327.507 103.944 327.068 103.846 326.578 103.846C326.067 103.846 325.62 103.949 325.239 104.156C324.858 104.363 324.564 104.66 324.357 105.046C324.15 105.433 324.046 105.893 324.046 106.426H320.69C320.69 105.332 320.937 104.382 321.433 103.576C321.928 102.77 322.623 102.147 323.516 101.706C324.409 101.265 325.438 101.044 326.603 101.044C327.801 101.044 328.844 101.256 329.731 101.681C330.624 102.1 331.318 102.683 331.814 103.429C332.309 104.175 332.557 105.03 332.557 105.994C332.557 106.625 332.432 107.249 332.181 107.864C331.936 108.479 331.498 109.163 330.866 109.914C330.235 110.66 329.344 111.556 328.196 112.601L325.753 114.994V115.109H332.778V118H320.853ZM341.899 118.368C340.494 118.362 339.285 118.016 338.272 117.33C337.265 116.644 336.489 115.65 335.945 114.349C335.406 113.048 335.139 111.482 335.144 109.653C335.144 107.829 335.414 106.274 335.953 104.989C336.497 103.704 337.273 102.727 338.281 102.057C339.293 101.382 340.499 101.044 341.899 101.044C343.298 101.044 344.502 101.382 345.509 102.057C346.522 102.732 347.3 103.712 347.845 104.997C348.389 106.277 348.659 107.829 348.653 109.653C348.653 111.488 348.381 113.056 347.837 114.357C347.298 115.659 346.524 116.652 345.517 117.338C344.51 118.025 343.304 118.368 341.899 118.368ZM341.899 115.435C342.857 115.435 343.622 114.953 344.194 113.99C344.766 113.026 345.049 111.58 345.043 109.653C345.043 108.384 344.913 107.328 344.651 106.484C344.395 105.64 344.031 105.005 343.557 104.581C343.089 104.156 342.536 103.944 341.899 103.944C340.946 103.944 340.184 104.42 339.612 105.373C339.04 106.326 338.752 107.752 338.746 109.653C338.746 110.938 338.874 112.01 339.13 112.871C339.391 113.726 339.759 114.368 340.233 114.798C340.706 115.223 341.262 115.435 341.899 115.435ZM357.285 118.229C356.13 118.229 355.101 118.016 354.197 117.592C353.299 117.167 352.585 116.582 352.057 115.836C351.529 115.09 351.254 114.235 351.232 113.271H354.663C354.701 113.919 354.973 114.444 355.479 114.847C355.986 115.25 356.588 115.452 357.285 115.452C357.84 115.452 358.33 115.329 358.755 115.084C359.185 114.834 359.52 114.488 359.759 114.047C360.004 113.6 360.127 113.089 360.127 112.511C360.127 111.923 360.002 111.406 359.751 110.96C359.506 110.513 359.166 110.165 358.73 109.914C358.295 109.664 357.796 109.536 357.236 109.53C356.745 109.53 356.269 109.631 355.806 109.832C355.349 110.034 354.992 110.309 354.736 110.657L351.592 110.094L352.384 101.273H362.61V104.164H355.3L354.867 108.354H354.965C355.259 107.94 355.703 107.597 356.296 107.325C356.89 107.053 357.554 106.917 358.289 106.917C359.296 106.917 360.195 107.153 360.984 107.627C361.774 108.101 362.397 108.752 362.855 109.579C363.312 110.401 363.538 111.349 363.533 112.422C363.538 113.549 363.277 114.551 362.749 115.427C362.226 116.298 361.494 116.984 360.552 117.485C359.615 117.981 358.526 118.229 357.285 118.229Z"
     fill="black"
     id="path274" />
  <path
     d="M688.454 162V145.273H691.99V152.174H699.17V145.273H702.698V162H699.17V155.09H691.99V162H688.454ZM705.516 162V159.452L711.47 153.939C711.977 153.449 712.401 153.007 712.744 152.615C713.093 152.223 713.357 151.839 713.537 151.464C713.716 151.083 713.806 150.672 713.806 150.23C713.806 149.74 713.694 149.318 713.471 148.964C713.248 148.605 712.943 148.33 712.556 148.14C712.17 147.944 711.732 147.846 711.241 147.846C710.73 147.846 710.283 147.949 709.902 148.156C709.521 148.363 709.227 148.66 709.02 149.046C708.813 149.433 708.71 149.893 708.71 150.426H705.353C705.353 149.332 705.6 148.382 706.096 147.576C706.591 146.77 707.286 146.147 708.179 145.706C709.072 145.265 710.101 145.044 711.266 145.044C712.464 145.044 713.507 145.256 714.394 145.681C715.287 146.1 715.981 146.683 716.477 147.429C716.972 148.175 717.22 149.03 717.22 149.994C717.22 150.625 717.095 151.249 716.844 151.864C716.599 152.479 716.161 153.163 715.529 153.914C714.898 154.66 714.008 155.556 712.859 156.601L710.417 158.994V159.109H717.441V162H705.516ZM726.562 162.368C725.157 162.362 723.948 162.016 722.935 161.33C721.928 160.644 721.152 159.65 720.608 158.349C720.069 157.048 719.802 155.482 719.807 153.653C719.807 151.829 720.077 150.274 720.616 148.989C721.16 147.704 721.936 146.727 722.944 146.057C723.956 145.382 725.162 145.044 726.562 145.044C727.961 145.044 729.165 145.382 730.172 146.057C731.185 146.732 731.963 147.712 732.508 148.997C733.052 150.277 733.322 151.829 733.316 153.653C733.316 155.488 733.044 157.056 732.5 158.357C731.961 159.659 731.187 160.652 730.18 161.338C729.173 162.025 727.967 162.368 726.562 162.368ZM726.562 159.435C727.52 159.435 728.285 158.953 728.857 157.99C729.429 157.026 729.712 155.58 729.706 153.653C729.706 152.384 729.576 151.328 729.314 150.484C729.058 149.64 728.694 149.005 728.22 148.581C727.752 148.156 727.199 147.944 726.562 147.944C725.609 147.944 724.847 148.42 724.275 149.373C723.703 150.326 723.415 151.752 723.409 153.653C723.409 154.938 723.537 156.01 723.793 156.871C724.054 157.726 724.422 158.368 724.896 158.798C725.369 159.223 725.925 159.435 726.562 159.435ZM743.116 145.273V162H739.579V148.63H739.481L735.65 151.031V147.895L739.791 145.273H743.116Z"
     fill="black"
     id="path276" />
  <path
     d="M730.454 404V387.273H733.99V394.174H741.17V387.273H744.698V404H741.17V397.09H733.99V404H730.454ZM747.516 404V401.452L753.47 395.939C753.977 395.449 754.401 395.007 754.744 394.615C755.093 394.223 755.357 393.839 755.537 393.464C755.716 393.083 755.806 392.672 755.806 392.23C755.806 391.74 755.694 391.318 755.471 390.964C755.248 390.605 754.943 390.33 754.556 390.14C754.17 389.944 753.732 389.846 753.241 389.846C752.73 389.846 752.283 389.949 751.902 390.156C751.521 390.363 751.227 390.66 751.02 391.046C750.813 391.433 750.71 391.893 750.71 392.426H747.353C747.353 391.332 747.6 390.382 748.096 389.576C748.591 388.77 749.286 388.147 750.179 387.706C751.072 387.265 752.101 387.044 753.266 387.044C754.464 387.044 755.507 387.256 756.394 387.681C757.287 388.1 757.981 388.683 758.477 389.429C758.972 390.175 759.22 391.03 759.22 391.994C759.22 392.625 759.095 393.249 758.844 393.864C758.599 394.479 758.161 395.163 757.529 395.914C756.898 396.66 756.008 397.556 754.859 398.601L752.417 400.994V401.109H759.441V404H747.516ZM769.281 387.273V404H765.744V390.63H765.646L761.815 393.031V389.895L765.956 387.273H769.281ZM773.918 404L780.852 390.278V390.164H772.774V387.273H784.511V390.205L777.569 404H773.918Z"
     fill="black"
     id="path278" />
  <path
     d="M887.454 401V384.273H890.99V391.174H898.17V384.273H901.698V401H898.17V394.09H890.99V401H887.454ZM904.516 401V398.452L910.47 392.939C910.977 392.449 911.401 392.007 911.744 391.615C912.093 391.223 912.357 390.839 912.537 390.464C912.716 390.083 912.806 389.672 912.806 389.23C912.806 388.74 912.694 388.318 912.471 387.964C912.248 387.605 911.943 387.33 911.556 387.14C911.17 386.944 910.732 386.846 910.241 386.846C909.73 386.846 909.283 386.949 908.902 387.156C908.521 387.363 908.227 387.66 908.02 388.046C907.813 388.433 907.71 388.893 907.71 389.426H904.353C904.353 388.332 904.6 387.382 905.096 386.576C905.591 385.77 906.286 385.147 907.179 384.706C908.072 384.265 909.101 384.044 910.266 384.044C911.464 384.044 912.507 384.256 913.394 384.681C914.287 385.1 914.981 385.683 915.477 386.429C915.972 387.175 916.22 388.03 916.22 388.994C916.22 389.625 916.095 390.249 915.844 390.864C915.599 391.479 915.161 392.163 914.529 392.914C913.898 393.66 913.008 394.556 911.859 395.601L909.417 397.994V398.109H916.441V401H904.516ZM926.281 384.273V401H922.744V387.63H922.646L918.815 390.031V386.895L922.956 384.273H926.281ZM936.676 401.229C935.816 401.223 934.985 401.079 934.185 400.796C933.39 400.513 932.677 400.053 932.045 399.415C931.413 398.778 930.912 397.934 930.542 396.884C930.177 395.833 929.995 394.542 929.995 393.012C930 391.607 930.161 390.352 930.477 389.247C930.798 388.136 931.255 387.194 931.849 386.421C932.448 385.648 933.164 385.06 933.997 384.657C934.83 384.248 935.764 384.044 936.798 384.044C937.915 384.044 938.9 384.262 939.755 384.697C940.61 385.128 941.296 385.713 941.813 386.453C942.336 387.194 942.652 388.024 942.761 388.945H939.273C939.137 388.362 938.851 387.905 938.416 387.572C937.98 387.24 937.441 387.074 936.798 387.074C935.709 387.074 934.882 387.548 934.316 388.495C933.755 389.443 933.469 390.731 933.458 392.359H933.572C933.823 391.863 934.16 391.441 934.585 391.093C935.015 390.739 935.503 390.469 936.047 390.284C936.597 390.094 937.177 389.998 937.787 389.998C938.778 389.998 939.66 390.232 940.433 390.701C941.206 391.163 941.816 391.801 942.263 392.612C942.709 393.423 942.932 394.352 942.932 395.397C942.932 396.53 942.668 397.537 942.14 398.419C941.617 399.301 940.885 399.993 939.943 400.494C939.006 400.989 937.917 401.234 936.676 401.229ZM936.66 398.452C937.204 398.452 937.691 398.321 938.122 398.06C938.552 397.798 938.889 397.444 939.134 396.998C939.379 396.551 939.502 396.05 939.502 395.495C939.502 394.94 939.379 394.441 939.134 394C938.895 393.559 938.563 393.208 938.138 392.947C937.713 392.685 937.229 392.555 936.684 392.555C936.276 392.555 935.897 392.631 935.549 392.783C935.206 392.936 934.904 393.148 934.642 393.42C934.386 393.693 934.185 394.009 934.038 394.368C933.891 394.722 933.817 395.1 933.817 395.503C933.817 396.042 933.94 396.535 934.185 396.982C934.435 397.428 934.773 397.785 935.198 398.051C935.628 398.318 936.115 398.452 936.66 398.452Z"
     fill="black"
     id="path280" />
  <path
     d="M993.454 401V384.273H996.99V391.174H1004.17V384.273H1007.7V401H1004.17V394.09H996.99V401H993.454ZM1010.52 401V398.452L1016.47 392.939C1016.98 392.449 1017.4 392.007 1017.74 391.615C1018.09 391.223 1018.36 390.839 1018.54 390.464C1018.72 390.083 1018.81 389.672 1018.81 389.23C1018.81 388.74 1018.69 388.318 1018.47 387.964C1018.25 387.605 1017.94 387.33 1017.56 387.14C1017.17 386.944 1016.73 386.846 1016.24 386.846C1015.73 386.846 1015.28 386.949 1014.9 387.156C1014.52 387.363 1014.23 387.66 1014.02 388.046C1013.81 388.433 1013.71 388.893 1013.71 389.426H1010.35C1010.35 388.332 1010.6 387.382 1011.1 386.576C1011.59 385.77 1012.29 385.147 1013.18 384.706C1014.07 384.265 1015.1 384.044 1016.27 384.044C1017.46 384.044 1018.51 384.256 1019.39 384.681C1020.29 385.1 1020.98 385.683 1021.48 386.429C1021.97 387.175 1022.22 388.03 1022.22 388.994C1022.22 389.625 1022.09 390.249 1021.84 390.864C1021.6 391.479 1021.16 392.163 1020.53 392.914C1019.9 393.66 1019.01 394.556 1017.86 395.601L1015.42 397.994V398.109H1022.44V401H1010.52ZM1032.28 384.273V401H1028.74V387.63H1028.65L1024.82 390.031V386.895L1028.96 384.273H1032.28ZM1042.37 401.229C1041.21 401.229 1040.18 401.016 1039.28 400.592C1038.38 400.167 1037.67 399.582 1037.14 398.836C1036.61 398.09 1036.34 397.235 1036.31 396.271H1039.74C1039.78 396.919 1040.05 397.444 1040.56 397.847C1041.07 398.25 1041.67 398.452 1042.37 398.452C1042.92 398.452 1043.41 398.329 1043.84 398.084C1044.27 397.834 1044.6 397.488 1044.84 397.047C1045.09 396.6 1045.21 396.089 1045.21 395.511C1045.21 394.923 1045.08 394.406 1044.83 393.96C1044.59 393.513 1044.25 393.165 1043.81 392.914C1043.38 392.664 1042.88 392.536 1042.32 392.53C1041.83 392.53 1041.35 392.631 1040.89 392.832C1040.43 393.034 1040.07 393.309 1039.82 393.657L1036.67 393.094L1037.47 384.273H1047.69V387.164H1040.38L1039.95 391.354H1040.05C1040.34 390.94 1040.78 390.597 1041.38 390.325C1041.97 390.053 1042.64 389.917 1043.37 389.917C1044.38 389.917 1045.28 390.153 1046.07 390.627C1046.86 391.101 1047.48 391.752 1047.94 392.579C1048.39 393.401 1048.62 394.349 1048.61 395.422C1048.62 396.549 1048.36 397.551 1047.83 398.427C1047.31 399.298 1046.57 399.984 1045.63 400.485C1044.7 400.981 1043.61 401.229 1042.37 401.229Z"
     fill="black"
     id="path282" />
  <path
     d="M1097.45 401V384.273H1100.99V391.174H1108.17V384.273H1111.7V401H1108.17V394.09H1100.99V401H1097.45ZM1114.52 401V398.452L1120.47 392.939C1120.98 392.449 1121.4 392.007 1121.74 391.615C1122.09 391.223 1122.36 390.839 1122.54 390.464C1122.72 390.083 1122.81 389.672 1122.81 389.23C1122.81 388.74 1122.69 388.318 1122.47 387.964C1122.25 387.605 1121.94 387.33 1121.56 387.14C1121.17 386.944 1120.73 386.846 1120.24 386.846C1119.73 386.846 1119.28 386.949 1118.9 387.156C1118.52 387.363 1118.23 387.66 1118.02 388.046C1117.81 388.433 1117.71 388.893 1117.71 389.426H1114.35C1114.35 388.332 1114.6 387.382 1115.1 386.576C1115.59 385.77 1116.29 385.147 1117.18 384.706C1118.07 384.265 1119.1 384.044 1120.27 384.044C1121.46 384.044 1122.51 384.256 1123.39 384.681C1124.29 385.1 1124.98 385.683 1125.48 386.429C1125.97 387.175 1126.22 388.03 1126.22 388.994C1126.22 389.625 1126.09 390.249 1125.84 390.864C1125.6 391.479 1125.16 392.163 1124.53 392.914C1123.9 393.66 1123.01 394.556 1121.86 395.601L1119.42 397.994V398.109H1126.44V401H1114.52ZM1136.28 384.273V401H1132.74V387.63H1132.65L1128.82 390.031V386.895L1132.96 384.273H1136.28ZM1140 398.06V395.275L1146.99 384.273H1149.39V388.128H1147.97L1143.56 395.095V395.225H1153.49V398.06H1140ZM1148.03 401V397.21L1148.1 395.977V384.273H1151.41V401H1148.03Z"
     fill="black"
     id="path284" />
  <path
     d="M1202.45 401V384.273H1205.99V391.174H1213.17V384.273H1216.7V401H1213.17V394.09H1205.99V401H1202.45ZM1219.52 401V398.452L1225.47 392.939C1225.98 392.449 1226.4 392.007 1226.74 391.615C1227.09 391.223 1227.36 390.839 1227.54 390.464C1227.72 390.083 1227.81 389.672 1227.81 389.23C1227.81 388.74 1227.69 388.318 1227.47 387.964C1227.25 387.605 1226.94 387.33 1226.56 387.14C1226.17 386.944 1225.73 386.846 1225.24 386.846C1224.73 386.846 1224.28 386.949 1223.9 387.156C1223.52 387.363 1223.23 387.66 1223.02 388.046C1222.81 388.433 1222.71 388.893 1222.71 389.426H1219.35C1219.35 388.332 1219.6 387.382 1220.1 386.576C1220.59 385.77 1221.29 385.147 1222.18 384.706C1223.07 384.265 1224.1 384.044 1225.27 384.044C1226.46 384.044 1227.51 384.256 1228.39 384.681C1229.29 385.1 1229.98 385.683 1230.48 386.429C1230.97 387.175 1231.22 388.03 1231.22 388.994C1231.22 389.625 1231.09 390.249 1230.84 390.864C1230.6 391.479 1230.16 392.163 1229.53 392.914C1228.9 393.66 1228.01 394.556 1226.86 395.601L1224.42 397.994V398.109H1231.44V401H1219.52ZM1241.28 384.273V401H1237.74V387.63H1237.65L1233.82 390.031V386.895L1237.96 384.273H1241.28ZM1251.44 401.229C1250.22 401.229 1249.13 401.019 1248.18 400.6C1247.23 400.175 1246.48 399.592 1245.93 398.852C1245.39 398.106 1245.11 397.246 1245.09 396.271H1248.65C1248.68 396.679 1248.81 397.039 1249.05 397.349C1249.3 397.654 1249.64 397.891 1250.05 398.06C1250.46 398.228 1250.93 398.313 1251.45 398.313C1251.99 398.313 1252.46 398.218 1252.88 398.027C1253.29 397.836 1253.61 397.572 1253.85 397.235C1254.08 396.897 1254.2 396.508 1254.2 396.067C1254.2 395.62 1254.07 395.225 1253.82 394.882C1253.58 394.534 1253.23 394.262 1252.76 394.066C1252.3 393.87 1251.76 393.772 1251.13 393.772H1249.57V391.174H1251.13C1251.66 391.174 1252.13 391.082 1252.54 390.897C1252.96 390.712 1253.28 390.456 1253.51 390.129C1253.73 389.797 1253.85 389.41 1253.85 388.969C1253.85 388.55 1253.75 388.182 1253.55 387.866C1253.35 387.545 1253.07 387.295 1252.71 387.115C1252.36 386.935 1251.95 386.846 1251.47 386.846C1250.99 386.846 1250.55 386.933 1250.16 387.107C1249.76 387.276 1249.44 387.518 1249.2 387.834C1248.96 388.15 1248.83 388.52 1248.82 388.945H1245.43C1245.44 387.981 1245.72 387.131 1246.25 386.396C1246.79 385.661 1247.51 385.087 1248.41 384.673C1249.32 384.254 1250.34 384.044 1251.49 384.044C1252.64 384.044 1253.65 384.254 1254.52 384.673C1255.38 385.092 1256.06 385.658 1256.54 386.372C1257.02 387.08 1257.26 387.875 1257.25 388.757C1257.26 389.693 1256.97 390.475 1256.38 391.101C1255.8 391.727 1255.04 392.125 1254.1 392.293V392.424C1255.33 392.582 1256.27 393.009 1256.91 393.706C1257.56 394.398 1257.88 395.264 1257.88 396.304C1257.88 397.257 1257.61 398.103 1257.05 398.844C1256.5 399.584 1255.74 400.167 1254.77 400.592C1253.8 401.016 1252.69 401.229 1251.44 401.229Z"
     fill="black"
     id="path286" />
  <path
     d="M1305.45 401V384.273H1308.99V391.174H1316.17V384.273H1319.7V401H1316.17V394.09H1308.99V401H1305.45ZM1322.52 401V398.452L1328.47 392.939C1328.98 392.449 1329.4 392.007 1329.74 391.615C1330.09 391.223 1330.36 390.839 1330.54 390.464C1330.72 390.083 1330.81 389.672 1330.81 389.23C1330.81 388.74 1330.69 388.318 1330.47 387.964C1330.25 387.605 1329.94 387.33 1329.56 387.14C1329.17 386.944 1328.73 386.846 1328.24 386.846C1327.73 386.846 1327.28 386.949 1326.9 387.156C1326.52 387.363 1326.23 387.66 1326.02 388.046C1325.81 388.433 1325.71 388.893 1325.71 389.426H1322.35C1322.35 388.332 1322.6 387.382 1323.1 386.576C1323.59 385.77 1324.29 385.147 1325.18 384.706C1326.07 384.265 1327.1 384.044 1328.27 384.044C1329.46 384.044 1330.51 384.256 1331.39 384.681C1332.29 385.1 1332.98 385.683 1333.48 386.429C1333.97 387.175 1334.22 388.03 1334.22 388.994C1334.22 389.625 1334.09 390.249 1333.84 390.864C1333.6 391.479 1333.16 392.163 1332.53 392.914C1331.9 393.66 1331.01 394.556 1329.86 395.601L1327.42 397.994V398.109H1334.44V401H1322.52ZM1344.28 384.273V401H1340.74V387.63H1340.65L1336.82 390.031V386.895L1340.96 384.273H1344.28ZM1348.26 401V398.452L1354.21 392.939C1354.72 392.449 1355.14 392.007 1355.48 391.615C1355.83 391.223 1356.1 390.839 1356.28 390.464C1356.46 390.083 1356.55 389.672 1356.55 389.23C1356.55 388.74 1356.43 388.318 1356.21 387.964C1355.99 387.605 1355.68 387.33 1355.3 387.14C1354.91 386.944 1354.47 386.846 1353.98 386.846C1353.47 386.846 1353.02 386.949 1352.64 387.156C1352.26 387.363 1351.97 387.66 1351.76 388.046C1351.55 388.433 1351.45 388.893 1351.45 389.426H1348.09C1348.09 388.332 1348.34 387.382 1348.84 386.576C1349.33 385.77 1350.03 385.147 1350.92 384.706C1351.81 384.265 1352.84 384.044 1354.01 384.044C1355.2 384.044 1356.25 384.256 1357.13 384.681C1358.03 385.1 1358.72 385.683 1359.22 386.429C1359.71 387.175 1359.96 388.03 1359.96 388.994C1359.96 389.625 1359.84 390.249 1359.58 390.864C1359.34 391.479 1358.9 392.163 1358.27 392.914C1357.64 393.66 1356.75 394.556 1355.6 395.601L1353.16 397.994V398.109H1360.18V401H1348.26Z"
     fill="black"
     id="path288" />
  <path
     d="M1408.45 401V384.273H1411.99V391.174H1419.17V384.273H1422.7V401H1419.17V394.09H1411.99V401H1408.45ZM1425.52 401V398.452L1431.47 392.939C1431.98 392.449 1432.4 392.007 1432.74 391.615C1433.09 391.223 1433.36 390.839 1433.54 390.464C1433.72 390.083 1433.81 389.672 1433.81 389.23C1433.81 388.74 1433.69 388.318 1433.47 387.964C1433.25 387.605 1432.94 387.33 1432.56 387.14C1432.17 386.944 1431.73 386.846 1431.24 386.846C1430.73 386.846 1430.28 386.949 1429.9 387.156C1429.52 387.363 1429.23 387.66 1429.02 388.046C1428.81 388.433 1428.71 388.893 1428.71 389.426H1425.35C1425.35 388.332 1425.6 387.382 1426.1 386.576C1426.59 385.77 1427.29 385.147 1428.18 384.706C1429.07 384.265 1430.1 384.044 1431.27 384.044C1432.46 384.044 1433.51 384.256 1434.39 384.681C1435.29 385.1 1435.98 385.683 1436.48 386.429C1436.97 387.175 1437.22 388.03 1437.22 388.994C1437.22 389.625 1437.09 390.249 1436.84 390.864C1436.6 391.479 1436.16 392.163 1435.53 392.914C1434.9 393.66 1434.01 394.556 1432.86 395.601L1430.42 397.994V398.109H1437.44V401H1425.52ZM1447.28 384.273V401H1443.74V387.63H1443.65L1439.82 390.031V386.895L1443.96 384.273H1447.28ZM1458.53 384.273V401H1455V387.63H1454.9L1451.07 390.031V386.895L1455.21 384.273H1458.53Z"
     fill="black"
     id="path290" />
  <path
     d="M1514.45 402V385.273H1517.99V392.174H1525.17V385.273H1528.7V402H1525.17V395.09H1517.99V402H1514.45ZM1531.52 402V399.452L1537.47 393.939C1537.98 393.449 1538.4 393.007 1538.74 392.615C1539.09 392.223 1539.36 391.839 1539.54 391.464C1539.72 391.083 1539.81 390.672 1539.81 390.23C1539.81 389.74 1539.69 389.318 1539.47 388.964C1539.25 388.605 1538.94 388.33 1538.56 388.14C1538.17 387.944 1537.73 387.846 1537.24 387.846C1536.73 387.846 1536.28 387.949 1535.9 388.156C1535.52 388.363 1535.23 388.66 1535.02 389.046C1534.81 389.433 1534.71 389.893 1534.71 390.426H1531.35C1531.35 389.332 1531.6 388.382 1532.1 387.576C1532.59 386.77 1533.29 386.147 1534.18 385.706C1535.07 385.265 1536.1 385.044 1537.27 385.044C1538.46 385.044 1539.51 385.256 1540.39 385.681C1541.29 386.1 1541.98 386.683 1542.48 387.429C1542.97 388.175 1543.22 389.03 1543.22 389.994C1543.22 390.625 1543.09 391.249 1542.84 391.864C1542.6 392.479 1542.16 393.163 1541.53 393.914C1540.9 394.66 1540.01 395.556 1538.86 396.601L1536.42 398.994V399.109H1543.44V402H1531.52ZM1553.28 385.273V402H1549.74V388.63H1549.65L1545.82 391.031V387.895L1549.96 385.273H1553.28ZM1563.81 402.368C1562.41 402.362 1561.2 402.016 1560.19 401.33C1559.18 400.644 1558.41 399.65 1557.86 398.349C1557.32 397.048 1557.05 395.482 1557.06 393.653C1557.06 391.829 1557.33 390.274 1557.87 388.989C1558.41 387.704 1559.19 386.727 1560.2 386.057C1561.21 385.382 1562.42 385.044 1563.81 385.044C1565.21 385.044 1566.42 385.382 1567.42 386.057C1568.44 386.732 1569.22 387.712 1569.76 388.997C1570.31 390.277 1570.57 391.829 1570.57 393.653C1570.57 395.488 1570.3 397.056 1569.75 398.357C1569.21 399.659 1568.44 400.652 1567.43 401.338C1566.43 402.025 1565.22 402.368 1563.81 402.368ZM1563.81 399.435C1564.77 399.435 1565.54 398.953 1566.11 397.99C1566.68 397.026 1566.96 395.58 1566.96 393.653C1566.96 392.384 1566.83 391.328 1566.57 390.484C1566.31 389.64 1565.95 389.005 1565.47 388.581C1565 388.156 1564.45 387.944 1563.81 387.944C1562.86 387.944 1562.1 388.42 1561.53 389.373C1560.96 390.326 1560.67 391.752 1560.66 393.653C1560.66 394.938 1560.79 396.01 1561.05 396.871C1561.31 397.726 1561.67 398.368 1562.15 398.798C1562.62 399.223 1563.18 399.435 1563.81 399.435Z"
     fill="black"
     id="path292" />
  <path
     d="M791.454 162V145.273H794.99V152.174H802.17V145.273H805.698V162H802.17V155.09H794.99V162H791.454ZM808.516 162V159.452L814.47 153.939C814.977 153.449 815.401 153.007 815.744 152.615C816.093 152.223 816.357 151.839 816.537 151.464C816.716 151.083 816.806 150.672 816.806 150.23C816.806 149.74 816.694 149.318 816.471 148.964C816.248 148.605 815.943 148.33 815.556 148.14C815.17 147.944 814.732 147.846 814.241 147.846C813.73 147.846 813.283 147.949 812.902 148.156C812.521 148.363 812.227 148.66 812.02 149.046C811.813 149.433 811.71 149.893 811.71 150.426H808.353C808.353 149.332 808.6 148.382 809.096 147.576C809.591 146.77 810.286 146.147 811.179 145.706C812.072 145.265 813.101 145.044 814.266 145.044C815.464 145.044 816.507 145.256 817.394 145.681C818.287 146.1 818.981 146.683 819.477 147.429C819.972 148.175 820.22 149.03 820.22 149.994C820.22 150.625 820.095 151.249 819.844 151.864C819.599 152.479 819.161 153.163 818.529 153.914C817.898 154.66 817.008 155.556 815.859 156.601L813.417 158.994V159.109H820.441V162H808.516ZM829.562 162.368C828.157 162.362 826.948 162.016 825.935 161.33C824.928 160.644 824.152 159.65 823.608 158.349C823.069 157.048 822.802 155.482 822.807 153.653C822.807 151.829 823.077 150.274 823.616 148.989C824.16 147.704 824.936 146.727 825.944 146.057C826.956 145.382 828.162 145.044 829.562 145.044C830.961 145.044 832.165 145.382 833.172 146.057C834.185 146.732 834.963 147.712 835.508 148.997C836.052 150.277 836.322 151.829 836.316 153.653C836.316 155.488 836.044 157.056 835.5 158.357C834.961 159.659 834.187 160.652 833.18 161.338C832.173 162.025 830.967 162.368 829.562 162.368ZM829.562 159.435C830.52 159.435 831.285 158.953 831.857 157.99C832.429 157.026 832.712 155.58 832.706 153.653C832.706 152.384 832.576 151.328 832.314 150.484C832.058 149.64 831.694 149.005 831.22 148.581C830.752 148.156 830.199 147.944 829.562 147.944C828.609 147.944 827.847 148.42 827.275 149.373C826.703 150.326 826.415 151.752 826.409 153.653C826.409 154.938 826.537 156.01 826.793 156.871C827.054 157.726 827.422 158.368 827.896 158.798C828.369 159.223 828.925 159.435 829.562 159.435ZM838.838 162V159.452L844.792 153.939C845.299 153.449 845.724 153.007 846.067 152.615C846.415 152.223 846.679 151.839 846.859 151.464C847.039 151.083 847.128 150.672 847.128 150.23C847.128 149.74 847.017 149.318 846.794 148.964C846.57 148.605 846.265 148.33 845.879 148.14C845.492 147.944 845.054 147.846 844.564 147.846C844.052 147.846 843.605 147.949 843.224 148.156C842.843 148.363 842.549 148.66 842.342 149.046C842.135 149.433 842.032 149.893 842.032 150.426H838.675C838.675 149.332 838.923 148.382 839.418 147.576C839.914 146.77 840.608 146.147 841.501 145.706C842.394 145.265 843.423 145.044 844.588 145.044C845.786 145.044 846.829 145.256 847.716 145.681C848.609 146.1 849.304 146.683 849.799 147.429C850.295 148.175 850.542 149.03 850.542 149.994C850.542 150.625 850.417 151.249 850.167 151.864C849.922 152.479 849.483 153.163 848.852 153.914C848.22 154.66 847.33 155.556 846.181 156.601L843.739 158.994V159.109H850.763V162H838.838Z"
     fill="black"
     id="path294" />
  <path
     d="M890.454 162V145.273H893.99V152.174H901.17V145.273H904.698V162H901.17V155.09H893.99V162H890.454ZM907.516 162V159.452L913.47 153.939C913.977 153.449 914.401 153.007 914.744 152.615C915.093 152.223 915.357 151.839 915.537 151.464C915.716 151.083 915.806 150.672 915.806 150.23C915.806 149.74 915.694 149.318 915.471 148.964C915.248 148.605 914.943 148.33 914.556 148.14C914.17 147.944 913.732 147.846 913.241 147.846C912.73 147.846 912.283 147.949 911.902 148.156C911.521 148.363 911.227 148.66 911.02 149.046C910.813 149.433 910.71 149.893 910.71 150.426H907.353C907.353 149.332 907.6 148.382 908.096 147.576C908.591 146.77 909.286 146.147 910.179 145.706C911.072 145.265 912.101 145.044 913.266 145.044C914.464 145.044 915.507 145.256 916.394 145.681C917.287 146.1 917.981 146.683 918.477 147.429C918.972 148.175 919.22 149.03 919.22 149.994C919.22 150.625 919.095 151.249 918.844 151.864C918.599 152.479 918.161 153.163 917.529 153.914C916.898 154.66 916.008 155.556 914.859 156.601L912.417 158.994V159.109H919.441V162H907.516ZM928.562 162.368C927.157 162.362 925.948 162.016 924.935 161.33C923.928 160.644 923.152 159.65 922.608 158.349C922.069 157.048 921.802 155.482 921.807 153.653C921.807 151.829 922.077 150.274 922.616 148.989C923.16 147.704 923.936 146.727 924.944 146.057C925.956 145.382 927.162 145.044 928.562 145.044C929.961 145.044 931.165 145.382 932.172 146.057C933.185 146.732 933.963 147.712 934.508 148.997C935.052 150.277 935.322 151.829 935.316 153.653C935.316 155.488 935.044 157.056 934.5 158.357C933.961 159.659 933.187 160.652 932.18 161.338C931.173 162.025 929.967 162.368 928.562 162.368ZM928.562 159.435C929.52 159.435 930.285 158.953 930.857 157.99C931.429 157.026 931.712 155.58 931.706 153.653C931.706 152.384 931.576 151.328 931.314 150.484C931.058 149.64 930.694 149.005 930.22 148.581C929.752 148.156 929.199 147.944 928.562 147.944C927.609 147.944 926.847 148.42 926.275 149.373C925.703 150.326 925.415 151.752 925.409 153.653C925.409 154.938 925.537 156.01 925.793 156.871C926.054 157.726 926.422 158.368 926.896 158.798C927.369 159.223 927.925 159.435 928.562 159.435ZM944.021 162.229C942.801 162.229 941.715 162.019 940.762 161.6C939.815 161.175 939.066 160.592 938.516 159.852C937.972 159.106 937.691 158.246 937.675 157.271H941.236C941.258 157.679 941.391 158.039 941.636 158.349C941.887 158.654 942.219 158.891 942.633 159.06C943.046 159.228 943.512 159.313 944.029 159.313C944.568 159.313 945.045 159.218 945.459 159.027C945.872 158.836 946.196 158.572 946.431 158.235C946.665 157.897 946.782 157.508 946.782 157.067C946.782 156.62 946.657 156.225 946.406 155.882C946.161 155.534 945.807 155.262 945.344 155.066C944.887 154.87 944.342 154.772 943.711 154.772H942.151V152.174H943.711C944.244 152.174 944.715 152.082 945.124 151.897C945.538 151.712 945.859 151.456 946.088 151.129C946.316 150.797 946.431 150.41 946.431 149.969C946.431 149.55 946.33 149.182 946.128 148.866C945.932 148.545 945.655 148.295 945.295 148.115C944.941 147.935 944.528 147.846 944.054 147.846C943.575 147.846 943.136 147.933 942.739 148.107C942.341 148.276 942.023 148.518 941.783 148.834C941.544 149.15 941.416 149.52 941.399 149.945H938.01C938.026 148.981 938.301 148.131 938.835 147.396C939.368 146.661 940.087 146.087 940.991 145.673C941.9 145.254 942.927 145.044 944.07 145.044C945.224 145.044 946.235 145.254 947.1 145.673C947.966 146.092 948.639 146.658 949.118 147.372C949.602 148.08 949.842 148.875 949.836 149.757C949.842 150.693 949.551 151.475 948.963 152.101C948.38 152.727 947.62 153.125 946.684 153.293V153.424C947.914 153.582 948.851 154.009 949.493 154.706C950.141 155.398 950.463 156.264 950.457 157.304C950.463 158.257 950.188 159.103 949.632 159.844C949.082 160.584 948.323 161.167 947.354 161.592C946.384 162.016 945.273 162.229 944.021 162.229Z"
     fill="black"
     id="path296" />
  <path
     d="M999.454 162V145.273H1002.99V152.174H1010.17V145.273H1013.7V162H1010.17V155.09H1002.99V162H999.454ZM1016.52 162V159.452L1022.47 153.939C1022.98 153.449 1023.4 153.007 1023.74 152.615C1024.09 152.223 1024.36 151.839 1024.54 151.464C1024.72 151.083 1024.81 150.672 1024.81 150.23C1024.81 149.74 1024.69 149.318 1024.47 148.964C1024.25 148.605 1023.94 148.33 1023.56 148.14C1023.17 147.944 1022.73 147.846 1022.24 147.846C1021.73 147.846 1021.28 147.949 1020.9 148.156C1020.52 148.363 1020.23 148.66 1020.02 149.046C1019.81 149.433 1019.71 149.893 1019.71 150.426H1016.35C1016.35 149.332 1016.6 148.382 1017.1 147.576C1017.59 146.77 1018.29 146.147 1019.18 145.706C1020.07 145.265 1021.1 145.044 1022.27 145.044C1023.46 145.044 1024.51 145.256 1025.39 145.681C1026.29 146.1 1026.98 146.683 1027.48 147.429C1027.97 148.175 1028.22 149.03 1028.22 149.994C1028.22 150.625 1028.09 151.249 1027.84 151.864C1027.6 152.479 1027.16 153.163 1026.53 153.914C1025.9 154.66 1025.01 155.556 1023.86 156.601L1021.42 158.994V159.109H1028.44V162H1016.52ZM1037.56 162.368C1036.16 162.362 1034.95 162.016 1033.94 161.33C1032.93 160.644 1032.15 159.65 1031.61 158.349C1031.07 157.048 1030.8 155.482 1030.81 153.653C1030.81 151.829 1031.08 150.274 1031.62 148.989C1032.16 147.704 1032.94 146.727 1033.94 146.057C1034.96 145.382 1036.16 145.044 1037.56 145.044C1038.96 145.044 1040.16 145.382 1041.17 146.057C1042.18 146.732 1042.96 147.712 1043.51 148.997C1044.05 150.277 1044.32 151.829 1044.32 153.653C1044.32 155.488 1044.04 157.056 1043.5 158.357C1042.96 159.659 1042.19 160.652 1041.18 161.338C1040.17 162.025 1038.97 162.368 1037.56 162.368ZM1037.56 159.435C1038.52 159.435 1039.29 158.953 1039.86 157.99C1040.43 157.026 1040.71 155.58 1040.71 153.653C1040.71 152.384 1040.58 151.328 1040.31 150.484C1040.06 149.64 1039.69 149.005 1039.22 148.581C1038.75 148.156 1038.2 147.944 1037.56 147.944C1036.61 147.944 1035.85 148.42 1035.27 149.373C1034.7 150.326 1034.41 151.752 1034.41 153.653C1034.41 154.938 1034.54 156.01 1034.79 156.871C1035.05 157.726 1035.42 158.368 1035.9 158.798C1036.37 159.223 1036.92 159.435 1037.56 159.435ZM1046.59 159.06V156.275L1053.57 145.273H1055.97V149.128H1054.55L1050.15 156.095V156.225H1060.07V159.06H1046.59ZM1054.61 162V158.21L1054.68 156.977V145.273H1058V162H1054.61Z"
     fill="black"
     id="path298" />
  <path
     d="M1099.45 162V145.273H1102.99V152.174H1110.17V145.273H1113.7V162H1110.17V155.09H1102.99V162H1099.45ZM1116.52 162V159.452L1122.47 153.939C1122.98 153.449 1123.4 153.007 1123.74 152.615C1124.09 152.223 1124.36 151.839 1124.54 151.464C1124.72 151.083 1124.81 150.672 1124.81 150.23C1124.81 149.74 1124.69 149.318 1124.47 148.964C1124.25 148.605 1123.94 148.33 1123.56 148.14C1123.17 147.944 1122.73 147.846 1122.24 147.846C1121.73 147.846 1121.28 147.949 1120.9 148.156C1120.52 148.363 1120.23 148.66 1120.02 149.046C1119.81 149.433 1119.71 149.893 1119.71 150.426H1116.35C1116.35 149.332 1116.6 148.382 1117.1 147.576C1117.59 146.77 1118.29 146.147 1119.18 145.706C1120.07 145.265 1121.1 145.044 1122.27 145.044C1123.46 145.044 1124.51 145.256 1125.39 145.681C1126.29 146.1 1126.98 146.683 1127.48 147.429C1127.97 148.175 1128.22 149.03 1128.22 149.994C1128.22 150.625 1128.09 151.249 1127.84 151.864C1127.6 152.479 1127.16 153.163 1126.53 153.914C1125.9 154.66 1125.01 155.556 1123.86 156.601L1121.42 158.994V159.109H1128.44V162H1116.52ZM1137.56 162.368C1136.16 162.362 1134.95 162.016 1133.94 161.33C1132.93 160.644 1132.15 159.65 1131.61 158.349C1131.07 157.048 1130.8 155.482 1130.81 153.653C1130.81 151.829 1131.08 150.274 1131.62 148.989C1132.16 147.704 1132.94 146.727 1133.94 146.057C1134.96 145.382 1136.16 145.044 1137.56 145.044C1138.96 145.044 1140.16 145.382 1141.17 146.057C1142.18 146.732 1142.96 147.712 1143.51 148.997C1144.05 150.277 1144.32 151.829 1144.32 153.653C1144.32 155.488 1144.04 157.056 1143.5 158.357C1142.96 159.659 1142.19 160.652 1141.18 161.338C1140.17 162.025 1138.97 162.368 1137.56 162.368ZM1137.56 159.435C1138.52 159.435 1139.29 158.953 1139.86 157.99C1140.43 157.026 1140.71 155.58 1140.71 153.653C1140.71 152.384 1140.58 151.328 1140.31 150.484C1140.06 149.64 1139.69 149.005 1139.22 148.581C1138.75 148.156 1138.2 147.944 1137.56 147.944C1136.61 147.944 1135.85 148.42 1135.27 149.373C1134.7 150.326 1134.41 151.752 1134.41 153.653C1134.41 154.938 1134.54 156.01 1134.79 156.871C1135.05 157.726 1135.42 158.368 1135.9 158.798C1136.37 159.223 1136.92 159.435 1137.56 159.435ZM1152.95 162.229C1151.79 162.229 1150.76 162.016 1149.86 161.592C1148.96 161.167 1148.25 160.582 1147.72 159.836C1147.19 159.09 1146.92 158.235 1146.9 157.271H1150.33C1150.36 157.919 1150.64 158.444 1151.14 158.847C1151.65 159.25 1152.25 159.452 1152.95 159.452C1153.5 159.452 1153.99 159.329 1154.42 159.084C1154.85 158.834 1155.18 158.488 1155.42 158.047C1155.67 157.6 1155.79 157.089 1155.79 156.511C1155.79 155.923 1155.66 155.406 1155.41 154.96C1155.17 154.513 1154.83 154.165 1154.39 153.914C1153.96 153.664 1153.46 153.536 1152.9 153.53C1152.41 153.53 1151.93 153.631 1151.47 153.832C1151.01 154.034 1150.66 154.309 1150.4 154.657L1147.25 154.094L1148.05 145.273H1158.27V148.164H1150.96L1150.53 152.354H1150.63C1150.92 151.94 1151.37 151.597 1151.96 151.325C1152.55 151.053 1153.22 150.917 1153.95 150.917C1154.96 150.917 1155.86 151.153 1156.65 151.627C1157.44 152.101 1158.06 152.752 1158.52 153.579C1158.98 154.401 1159.2 155.349 1159.2 156.422C1159.2 157.549 1158.94 158.551 1158.41 159.427C1157.89 160.298 1157.16 160.984 1156.21 161.485C1155.28 161.981 1154.19 162.229 1152.95 162.229Z"
     fill="black"
     id="path300" />
  <path
     d="M1200.45 162V145.273H1203.99V152.174H1211.17V145.273H1214.7V162H1211.17V155.09H1203.99V162H1200.45ZM1217.52 162V159.452L1223.47 153.939C1223.98 153.449 1224.4 153.007 1224.74 152.615C1225.09 152.223 1225.36 151.839 1225.54 151.464C1225.72 151.083 1225.81 150.672 1225.81 150.23C1225.81 149.74 1225.69 149.318 1225.47 148.964C1225.25 148.605 1224.94 148.33 1224.56 148.14C1224.17 147.944 1223.73 147.846 1223.24 147.846C1222.73 147.846 1222.28 147.949 1221.9 148.156C1221.52 148.363 1221.23 148.66 1221.02 149.046C1220.81 149.433 1220.71 149.893 1220.71 150.426H1217.35C1217.35 149.332 1217.6 148.382 1218.1 147.576C1218.59 146.77 1219.29 146.147 1220.18 145.706C1221.07 145.265 1222.1 145.044 1223.27 145.044C1224.46 145.044 1225.51 145.256 1226.39 145.681C1227.29 146.1 1227.98 146.683 1228.48 147.429C1228.97 148.175 1229.22 149.03 1229.22 149.994C1229.22 150.625 1229.09 151.249 1228.84 151.864C1228.6 152.479 1228.16 153.163 1227.53 153.914C1226.9 154.66 1226.01 155.556 1224.86 156.601L1222.42 158.994V159.109H1229.44V162H1217.52ZM1238.56 162.368C1237.16 162.362 1235.95 162.016 1234.94 161.33C1233.93 160.644 1233.15 159.65 1232.61 158.349C1232.07 157.048 1231.8 155.482 1231.81 153.653C1231.81 151.829 1232.08 150.274 1232.62 148.989C1233.16 147.704 1233.94 146.727 1234.94 146.057C1235.96 145.382 1237.16 145.044 1238.56 145.044C1239.96 145.044 1241.16 145.382 1242.17 146.057C1243.18 146.732 1243.96 147.712 1244.51 148.997C1245.05 150.277 1245.32 151.829 1245.32 153.653C1245.32 155.488 1245.04 157.056 1244.5 158.357C1243.96 159.659 1243.19 160.652 1242.18 161.338C1241.17 162.025 1239.97 162.368 1238.56 162.368ZM1238.56 159.435C1239.52 159.435 1240.29 158.953 1240.86 157.99C1241.43 157.026 1241.71 155.58 1241.71 153.653C1241.71 152.384 1241.58 151.328 1241.31 150.484C1241.06 149.64 1240.69 149.005 1240.22 148.581C1239.75 148.156 1239.2 147.944 1238.56 147.944C1237.61 147.944 1236.85 148.42 1236.27 149.373C1235.7 150.326 1235.41 151.752 1235.41 153.653C1235.41 154.938 1235.54 156.01 1235.79 156.871C1236.05 157.726 1236.42 158.368 1236.9 158.798C1237.37 159.223 1237.92 159.435 1238.56 159.435ZM1254.26 162.229C1253.4 162.223 1252.57 162.079 1251.77 161.796C1250.97 161.513 1250.26 161.053 1249.63 160.415C1249 159.778 1248.49 158.934 1248.12 157.884C1247.76 156.833 1247.58 155.542 1247.58 154.012C1247.58 152.607 1247.74 151.352 1248.06 150.247C1248.38 149.136 1248.84 148.194 1249.43 147.421C1250.03 146.648 1250.75 146.06 1251.58 145.657C1252.41 145.248 1253.35 145.044 1254.38 145.044C1255.5 145.044 1256.48 145.262 1257.34 145.697C1258.19 146.128 1258.88 146.713 1259.4 147.453C1259.92 148.194 1260.23 149.024 1260.34 149.945H1256.86C1256.72 149.362 1256.43 148.905 1256 148.572C1255.56 148.24 1255.02 148.074 1254.38 148.074C1253.29 148.074 1252.46 148.548 1251.9 149.495C1251.34 150.443 1251.05 151.731 1251.04 153.359H1251.15C1251.4 152.863 1251.74 152.441 1252.17 152.093C1252.6 151.739 1253.08 151.469 1253.63 151.284C1254.18 151.094 1254.76 150.998 1255.37 150.998C1256.36 150.998 1257.24 151.232 1258.02 151.701C1258.79 152.163 1259.4 152.801 1259.84 153.612C1260.29 154.423 1260.51 155.352 1260.51 156.397C1260.51 157.53 1260.25 158.537 1259.72 159.419C1259.2 160.301 1258.47 160.993 1257.53 161.494C1256.59 161.989 1255.5 162.234 1254.26 162.229ZM1254.24 159.452C1254.79 159.452 1255.27 159.321 1255.7 159.06C1256.13 158.798 1256.47 158.444 1256.72 157.998C1256.96 157.551 1257.08 157.05 1257.08 156.495C1257.08 155.94 1256.96 155.441 1256.72 155C1256.48 154.559 1256.14 154.208 1255.72 153.947C1255.3 153.685 1254.81 153.555 1254.27 153.555C1253.86 153.555 1253.48 153.631 1253.13 153.783C1252.79 153.936 1252.49 154.148 1252.22 154.42C1251.97 154.693 1251.77 155.009 1251.62 155.368C1251.47 155.722 1251.4 156.1 1251.4 156.503C1251.4 157.042 1251.52 157.535 1251.77 157.982C1252.02 158.428 1252.35 158.785 1252.78 159.051C1253.21 159.318 1253.7 159.452 1254.24 159.452Z"
     fill="black"
     id="path302" />
  <path
     d="M1304.45 162V145.273H1307.99V152.174H1315.17V145.273H1318.7V162H1315.17V155.09H1307.99V162H1304.45ZM1321.52 162V159.452L1327.47 153.939C1327.98 153.449 1328.4 153.007 1328.74 152.615C1329.09 152.223 1329.36 151.839 1329.54 151.464C1329.72 151.083 1329.81 150.672 1329.81 150.23C1329.81 149.74 1329.69 149.318 1329.47 148.964C1329.25 148.605 1328.94 148.33 1328.56 148.14C1328.17 147.944 1327.73 147.846 1327.24 147.846C1326.73 147.846 1326.28 147.949 1325.9 148.156C1325.52 148.363 1325.23 148.66 1325.02 149.046C1324.81 149.433 1324.71 149.893 1324.71 150.426H1321.35C1321.35 149.332 1321.6 148.382 1322.1 147.576C1322.59 146.77 1323.29 146.147 1324.18 145.706C1325.07 145.265 1326.1 145.044 1327.27 145.044C1328.46 145.044 1329.51 145.256 1330.39 145.681C1331.29 146.1 1331.98 146.683 1332.48 147.429C1332.97 148.175 1333.22 149.03 1333.22 149.994C1333.22 150.625 1333.09 151.249 1332.84 151.864C1332.6 152.479 1332.16 153.163 1331.53 153.914C1330.9 154.66 1330.01 155.556 1328.86 156.601L1326.42 158.994V159.109H1333.44V162H1321.52ZM1342.56 162.368C1341.16 162.362 1339.95 162.016 1338.94 161.33C1337.93 160.644 1337.15 159.65 1336.61 158.349C1336.07 157.048 1335.8 155.482 1335.81 153.653C1335.81 151.829 1336.08 150.274 1336.62 148.989C1337.16 147.704 1337.94 146.727 1338.94 146.057C1339.96 145.382 1341.16 145.044 1342.56 145.044C1343.96 145.044 1345.16 145.382 1346.17 146.057C1347.18 146.732 1347.96 147.712 1348.51 148.997C1349.05 150.277 1349.32 151.829 1349.32 153.653C1349.32 155.488 1349.04 157.056 1348.5 158.357C1347.96 159.659 1347.19 160.652 1346.18 161.338C1345.17 162.025 1343.97 162.368 1342.56 162.368ZM1342.56 159.435C1343.52 159.435 1344.29 158.953 1344.86 157.99C1345.43 157.026 1345.71 155.58 1345.71 153.653C1345.71 152.384 1345.58 151.328 1345.31 150.484C1345.06 149.64 1344.69 149.005 1344.22 148.581C1343.75 148.156 1343.2 147.944 1342.56 147.944C1341.61 147.944 1340.85 148.42 1340.27 149.373C1339.7 150.326 1339.41 151.752 1339.41 153.653C1339.41 154.938 1339.54 156.01 1339.79 156.871C1340.05 157.726 1340.42 158.368 1340.9 158.798C1341.37 159.223 1341.92 159.435 1342.56 159.435ZM1352.05 162L1358.98 148.278V148.164H1350.91V145.273H1362.64V148.205L1355.7 162H1352.05Z"
     fill="black"
     id="path304" />
  <path
     d="M1405.45 162V145.273H1408.99V152.174H1416.17V145.273H1419.7V162H1416.17V155.09H1408.99V162H1405.45ZM1422.52 162V159.452L1428.47 153.939C1428.98 153.449 1429.4 153.007 1429.74 152.615C1430.09 152.223 1430.36 151.839 1430.54 151.464C1430.72 151.083 1430.81 150.672 1430.81 150.23C1430.81 149.74 1430.69 149.318 1430.47 148.964C1430.25 148.605 1429.94 148.33 1429.56 148.14C1429.17 147.944 1428.73 147.846 1428.24 147.846C1427.73 147.846 1427.28 147.949 1426.9 148.156C1426.52 148.363 1426.23 148.66 1426.02 149.046C1425.81 149.433 1425.71 149.893 1425.71 150.426H1422.35C1422.35 149.332 1422.6 148.382 1423.1 147.576C1423.59 146.77 1424.29 146.147 1425.18 145.706C1426.07 145.265 1427.1 145.044 1428.27 145.044C1429.46 145.044 1430.51 145.256 1431.39 145.681C1432.29 146.1 1432.98 146.683 1433.48 147.429C1433.97 148.175 1434.22 149.03 1434.22 149.994C1434.22 150.625 1434.09 151.249 1433.84 151.864C1433.6 152.479 1433.16 153.163 1432.53 153.914C1431.9 154.66 1431.01 155.556 1429.86 156.601L1427.42 158.994V159.109H1434.44V162H1422.52ZM1443.56 162.368C1442.16 162.362 1440.95 162.016 1439.94 161.33C1438.93 160.644 1438.15 159.65 1437.61 158.349C1437.07 157.048 1436.8 155.482 1436.81 153.653C1436.81 151.829 1437.08 150.274 1437.62 148.989C1438.16 147.704 1438.94 146.727 1439.94 146.057C1440.96 145.382 1442.16 145.044 1443.56 145.044C1444.96 145.044 1446.16 145.382 1447.17 146.057C1448.18 146.732 1448.96 147.712 1449.51 148.997C1450.05 150.277 1450.32 151.829 1450.32 153.653C1450.32 155.488 1450.04 157.056 1449.5 158.357C1448.96 159.659 1448.19 160.652 1447.18 161.338C1446.17 162.025 1444.97 162.368 1443.56 162.368ZM1443.56 159.435C1444.52 159.435 1445.29 158.953 1445.86 157.99C1446.43 157.026 1446.71 155.58 1446.71 153.653C1446.71 152.384 1446.58 151.328 1446.31 150.484C1446.06 149.64 1445.69 149.005 1445.22 148.581C1444.75 148.156 1444.2 147.944 1443.56 147.944C1442.61 147.944 1441.85 148.42 1441.27 149.373C1440.7 150.326 1440.41 151.752 1440.41 153.653C1440.41 154.938 1440.54 156.01 1440.79 156.871C1441.05 157.726 1441.42 158.368 1441.9 158.798C1442.37 159.223 1442.92 159.435 1443.56 159.435ZM1459.08 162.229C1457.82 162.229 1456.7 162.025 1455.72 161.616C1454.75 161.202 1453.98 160.639 1453.43 159.925C1452.87 159.212 1452.59 158.404 1452.59 157.5C1452.59 156.803 1452.75 156.163 1453.07 155.58C1453.39 154.992 1453.82 154.505 1454.37 154.118C1454.92 153.726 1455.54 153.476 1456.22 153.367V153.252C1455.33 153.073 1454.6 152.64 1454.05 151.954C1453.49 151.262 1453.21 150.459 1453.21 149.544C1453.21 148.679 1453.47 147.908 1453.97 147.233C1454.48 146.552 1455.17 146.019 1456.06 145.632C1456.94 145.24 1457.95 145.044 1459.08 145.044C1460.21 145.044 1461.21 145.24 1462.09 145.632C1462.98 146.024 1463.68 146.56 1464.18 147.241C1464.69 147.916 1464.95 148.684 1464.95 149.544C1464.95 150.465 1464.66 151.268 1464.1 151.954C1463.54 152.64 1462.82 153.073 1461.95 153.252V153.367C1462.61 153.476 1463.22 153.726 1463.77 154.118C1464.32 154.505 1464.75 154.992 1465.07 155.58C1465.4 156.163 1465.57 156.803 1465.57 157.5C1465.57 158.404 1465.29 159.212 1464.73 159.925C1464.17 160.639 1463.41 161.202 1462.43 161.616C1461.45 162.025 1460.34 162.229 1459.08 162.229ZM1459.08 159.631C1459.64 159.631 1460.13 159.531 1460.55 159.329C1460.97 159.122 1461.29 158.839 1461.53 158.48C1461.77 158.115 1461.89 157.696 1461.89 157.222C1461.89 156.737 1461.77 156.31 1461.52 155.94C1461.28 155.564 1460.94 155.27 1460.52 155.058C1460.1 154.84 1459.62 154.731 1459.08 154.731C1458.54 154.731 1458.06 154.84 1457.63 155.058C1457.21 155.27 1456.87 155.564 1456.63 155.94C1456.39 156.31 1456.27 156.737 1456.27 157.222C1456.27 157.696 1456.39 158.115 1456.62 158.48C1456.85 158.839 1457.18 159.122 1457.61 159.329C1458.03 159.531 1458.52 159.631 1459.08 159.631ZM1459.08 152.158C1459.55 152.158 1459.96 152.063 1460.33 151.872C1460.69 151.682 1460.98 151.417 1461.19 151.08C1461.39 150.742 1461.5 150.353 1461.5 149.912C1461.5 149.476 1461.39 149.095 1461.19 148.768C1460.98 148.436 1460.7 148.178 1460.34 147.993C1459.98 147.802 1459.56 147.707 1459.08 147.707C1458.6 147.707 1458.19 147.802 1457.82 147.993C1457.46 148.178 1457.17 148.436 1456.96 148.768C1456.76 149.095 1456.66 149.476 1456.66 149.912C1456.66 150.353 1456.76 150.742 1456.97 151.08C1457.18 151.417 1457.46 151.682 1457.83 151.872C1458.19 152.063 1458.61 152.158 1459.08 152.158Z"
     fill="black"
     id="path306" />
  <path
     d="M1514.45 162V145.273H1517.99V152.174H1525.17V145.273H1528.7V162H1525.17V155.09H1517.99V162H1514.45ZM1531.52 162V159.452L1537.47 153.939C1537.98 153.449 1538.4 153.007 1538.74 152.615C1539.09 152.223 1539.36 151.839 1539.54 151.464C1539.72 151.083 1539.81 150.672 1539.81 150.23C1539.81 149.74 1539.69 149.318 1539.47 148.964C1539.25 148.605 1538.94 148.33 1538.56 148.14C1538.17 147.944 1537.73 147.846 1537.24 147.846C1536.73 147.846 1536.28 147.949 1535.9 148.156C1535.52 148.363 1535.23 148.66 1535.02 149.046C1534.81 149.433 1534.71 149.893 1534.71 150.426H1531.35C1531.35 149.332 1531.6 148.382 1532.1 147.576C1532.59 146.77 1533.29 146.147 1534.18 145.706C1535.07 145.265 1536.1 145.044 1537.27 145.044C1538.46 145.044 1539.51 145.256 1540.39 145.681C1541.29 146.1 1541.98 146.683 1542.48 147.429C1542.97 148.175 1543.22 149.03 1543.22 149.994C1543.22 150.625 1543.09 151.249 1542.84 151.864C1542.6 152.479 1542.16 153.163 1541.53 153.914C1540.9 154.66 1540.01 155.556 1538.86 156.601L1536.42 158.994V159.109H1543.44V162H1531.52ZM1552.56 162.368C1551.16 162.362 1549.95 162.016 1548.94 161.33C1547.93 160.644 1547.15 159.65 1546.61 158.349C1546.07 157.048 1545.8 155.482 1545.81 153.653C1545.81 151.829 1546.08 150.274 1546.62 148.989C1547.16 147.704 1547.94 146.727 1548.94 146.057C1549.96 145.382 1551.16 145.044 1552.56 145.044C1553.96 145.044 1555.16 145.382 1556.17 146.057C1557.18 146.732 1557.96 147.712 1558.51 148.997C1559.05 150.277 1559.32 151.829 1559.32 153.653C1559.32 155.488 1559.04 157.056 1558.5 158.357C1557.96 159.659 1557.19 160.652 1556.18 161.338C1555.17 162.025 1553.97 162.368 1552.56 162.368ZM1552.56 159.435C1553.52 159.435 1554.29 158.953 1554.86 157.99C1555.43 157.026 1555.71 155.58 1555.71 153.653C1555.71 152.384 1555.58 151.328 1555.31 150.484C1555.06 149.64 1554.69 149.005 1554.22 148.581C1553.75 148.156 1553.2 147.944 1552.56 147.944C1551.61 147.944 1550.85 148.42 1550.27 149.373C1549.7 150.326 1549.41 151.752 1549.41 153.653C1549.41 154.938 1549.54 156.01 1549.79 156.871C1550.05 157.726 1550.42 158.368 1550.9 158.798C1551.37 159.223 1551.92 159.435 1552.56 159.435ZM1567.89 145.044C1568.75 145.044 1569.58 145.188 1570.37 145.477C1571.17 145.766 1571.89 146.226 1572.51 146.857C1573.14 147.489 1573.64 148.327 1574.01 149.373C1574.38 150.413 1574.57 151.69 1574.57 153.203C1574.57 154.625 1574.41 155.893 1574.09 157.01C1573.77 158.12 1573.32 159.065 1572.73 159.844C1572.13 160.622 1571.42 161.216 1570.58 161.624C1569.74 162.027 1568.8 162.229 1567.77 162.229C1566.65 162.229 1565.67 162.014 1564.81 161.583C1563.96 161.148 1563.27 160.557 1562.74 159.811C1562.23 159.06 1561.91 158.216 1561.81 157.279H1565.29C1565.43 157.889 1565.72 158.363 1566.15 158.7C1566.59 159.032 1567.13 159.199 1567.77 159.199C1568.86 159.199 1569.68 158.725 1570.25 157.777C1570.82 156.824 1571.1 155.52 1571.11 153.865H1570.99C1570.74 154.355 1570.41 154.777 1569.98 155.131C1569.56 155.48 1569.07 155.749 1568.52 155.94C1567.97 156.13 1567.39 156.225 1566.78 156.225C1565.79 156.225 1564.91 155.994 1564.14 155.531C1563.37 155.068 1562.76 154.431 1562.31 153.62C1561.87 152.809 1561.64 151.883 1561.64 150.843C1561.64 149.721 1561.9 148.722 1562.42 147.846C1562.94 146.969 1563.67 146.283 1564.61 145.787C1565.55 145.286 1566.64 145.039 1567.89 145.044ZM1567.91 147.821C1567.36 147.821 1566.87 147.952 1566.44 148.213C1566.02 148.474 1565.68 148.826 1565.43 149.267C1565.19 149.708 1565.07 150.201 1565.07 150.745C1565.07 151.295 1565.19 151.79 1565.43 152.232C1565.68 152.667 1566.01 153.016 1566.43 153.277C1566.85 153.533 1567.34 153.661 1567.88 153.661C1568.29 153.661 1568.67 153.585 1569.02 153.432C1569.37 153.28 1569.67 153.07 1569.92 152.803C1570.19 152.531 1570.39 152.218 1570.54 151.864C1570.68 151.51 1570.76 151.134 1570.76 150.737C1570.75 150.209 1570.63 149.724 1570.38 149.283C1570.14 148.842 1569.8 148.488 1569.37 148.221C1568.94 147.954 1568.45 147.821 1567.91 147.821Z"
     fill="black"
     id="path308" />
  <path
     d="M67.5455 486.68C67.4311 486.282 67.2705 485.931 67.0636 485.626C66.8567 485.316 66.6035 485.054 66.304 484.842C66.0099 484.624 65.6723 484.458 65.2912 484.344C64.9155 484.229 64.4989 484.172 64.0415 484.172C63.1867 484.172 62.4353 484.385 61.7873 484.809C61.1448 485.234 60.6438 485.852 60.2844 486.663C59.9251 487.469 59.7454 488.455 59.7454 489.62C59.7454 490.785 59.9223 491.776 60.2763 492.593C60.6302 493.41 61.1312 494.033 61.7791 494.463C62.4271 494.888 63.1921 495.1 64.0742 495.1C64.8746 495.1 65.558 494.959 66.1243 494.676C66.696 494.387 67.1316 493.982 67.4311 493.459C67.736 492.936 67.8885 492.318 67.8885 491.605L68.6072 491.711H64.2947V489.048H71.2944V491.156C71.2944 492.626 70.984 493.889 70.3633 494.945C69.7425 495.996 68.8877 496.808 67.7987 497.379C66.7096 497.946 65.4627 498.229 64.0579 498.229C62.4897 498.229 61.1121 497.883 59.9251 497.191C58.738 496.494 57.8124 495.506 57.1481 494.227C56.4892 492.942 56.1598 491.417 56.1598 489.653C56.1598 488.297 56.3558 487.088 56.7479 486.026C57.1454 484.959 57.7008 484.055 58.4141 483.315C59.1274 482.574 59.9577 482.011 60.9052 481.624C61.8526 481.237 62.879 481.044 63.9844 481.044C64.9318 481.044 65.8139 481.183 66.6307 481.461C67.4474 481.733 68.1716 482.119 68.8033 482.62C69.4403 483.121 69.9603 483.718 70.3633 484.409C70.7662 485.095 71.0249 485.852 71.1392 486.68H67.5455ZM73.8529 498V495.452L79.8071 489.939C80.3135 489.449 80.7382 489.007 81.0812 488.615C81.4297 488.223 81.6938 487.839 81.8735 487.464C82.0532 487.083 82.143 486.672 82.143 486.23C82.143 485.74 82.0314 485.318 81.8082 484.964C81.5849 484.605 81.28 484.33 80.8934 484.14C80.5068 483.944 80.0684 483.846 79.5784 483.846C79.0666 483.846 78.6201 483.949 78.2389 484.156C77.8577 484.363 77.5637 484.66 77.3568 485.046C77.1499 485.433 77.0464 485.893 77.0464 486.426H73.6895C73.6895 485.332 73.9373 484.382 74.4328 483.576C74.9283 482.77 75.6225 482.147 76.5155 481.706C77.4085 481.265 78.4376 481.044 79.6029 481.044C80.8008 481.044 81.8435 481.256 82.7311 481.681C83.6241 482.1 84.3183 482.683 84.8138 483.429C85.3093 484.175 85.5571 485.03 85.5571 485.994C85.5571 486.625 85.4318 487.249 85.1814 487.864C84.9363 488.479 84.498 489.163 83.8664 489.914C83.2348 490.66 82.3445 491.556 81.1956 492.601L78.7535 494.994V495.109H85.7776V498H73.8529ZM94.8988 498.368C93.494 498.362 92.2852 498.016 91.2724 497.33C90.265 496.644 89.4891 495.65 88.9446 494.349C88.4055 493.048 88.1387 491.482 88.1442 489.653C88.1442 487.829 88.4137 486.274 88.9528 484.989C89.4973 483.704 90.2732 482.727 91.2805 482.057C92.2933 481.382 93.4994 481.044 94.8988 481.044C96.2982 481.044 97.5015 481.382 98.5089 482.057C99.5217 482.732 100.3 483.712 100.845 484.997C101.389 486.277 101.659 487.829 101.653 489.653C101.653 491.488 101.381 493.056 100.837 494.357C100.298 495.659 99.5244 496.652 98.517 497.338C97.5097 498.025 96.3036 498.368 94.8988 498.368ZM94.8988 495.435C95.8571 495.435 96.6222 494.953 97.1939 493.99C97.7656 493.026 98.0488 491.58 98.0433 489.653C98.0433 488.384 97.9126 487.328 97.6513 486.484C97.3954 485.64 97.0305 485.005 96.5568 484.581C96.0885 484.156 95.5359 483.944 94.8988 483.944C93.9459 483.944 93.1836 484.42 92.6119 485.373C92.0401 486.326 91.7515 487.752 91.7461 489.653C91.7461 490.938 91.8741 492.01 92.13 492.871C92.3913 493.726 92.7589 494.368 93.2326 494.798C93.7063 495.223 94.2617 495.435 94.8988 495.435ZM104.175 498V495.452L110.129 489.939C110.636 489.449 111.06 489.007 111.403 488.615C111.752 488.223 112.016 487.839 112.196 487.464C112.375 487.083 112.465 486.672 112.465 486.23C112.465 485.74 112.354 485.318 112.13 484.964C111.907 484.605 111.602 484.33 111.216 484.14C110.829 483.944 110.391 483.846 109.901 483.846C109.389 483.846 108.942 483.949 108.561 484.156C108.18 484.363 107.886 484.66 107.679 485.046C107.472 485.433 107.369 485.893 107.369 486.426H104.012C104.012 485.332 104.26 484.382 104.755 483.576C105.251 482.77 105.945 482.147 106.838 481.706C107.731 481.265 108.76 481.044 109.925 481.044C111.123 481.044 112.166 481.256 113.053 481.681C113.946 482.1 114.641 482.683 115.136 483.429C115.632 484.175 115.879 485.03 115.879 485.994C115.879 486.625 115.754 487.249 115.504 487.864C115.259 488.479 114.82 489.163 114.189 489.914C113.557 490.66 112.667 491.556 111.518 492.601L109.076 494.994V495.109H116.1V498H104.175Z"
     fill="black"
     id="path310" />
  <path
     d="M68.5455 316.68C68.4311 316.282 68.2705 315.931 68.0636 315.626C67.8567 315.316 67.6035 315.054 67.304 314.842C67.0099 314.624 66.6723 314.458 66.2912 314.344C65.9155 314.229 65.4989 314.172 65.0415 314.172C64.1867 314.172 63.4353 314.385 62.7873 314.809C62.1448 315.234 61.6438 315.852 61.2844 316.663C60.9251 317.469 60.7454 318.455 60.7454 319.62C60.7454 320.785 60.9223 321.776 61.2763 322.593C61.6302 323.41 62.1312 324.033 62.7791 324.463C63.4271 324.888 64.1921 325.1 65.0742 325.1C65.8746 325.1 66.558 324.959 67.1243 324.676C67.696 324.387 68.1316 323.982 68.4311 323.459C68.736 322.936 68.8885 322.318 68.8885 321.605L69.6072 321.711H65.2947V319.048H72.2944V321.156C72.2944 322.626 71.984 323.889 71.3633 324.945C70.7425 325.996 69.8877 326.808 68.7987 327.379C67.7096 327.946 66.4627 328.229 65.0579 328.229C63.4897 328.229 62.1121 327.883 60.9251 327.191C59.738 326.494 58.8124 325.506 58.1481 324.227C57.4892 322.942 57.1598 321.417 57.1598 319.653C57.1598 318.297 57.3558 317.088 57.7479 316.026C58.1454 314.959 58.7008 314.055 59.4141 313.315C60.1274 312.574 60.9577 312.011 61.9052 311.624C62.8526 311.237 63.879 311.044 64.9844 311.044C65.9318 311.044 66.8139 311.183 67.6307 311.461C68.4474 311.733 69.1716 312.119 69.8033 312.62C70.4403 313.121 70.9603 313.718 71.3633 314.409C71.7662 315.095 72.0249 315.852 72.1392 316.68H68.5455ZM74.8529 328V325.452L80.8071 319.939C81.3135 319.449 81.7382 319.007 82.0812 318.615C82.4297 318.223 82.6938 317.839 82.8735 317.464C83.0532 317.083 83.143 316.672 83.143 316.23C83.143 315.74 83.0314 315.318 82.8082 314.964C82.5849 314.605 82.28 314.33 81.8934 314.14C81.5068 313.944 81.0684 313.846 80.5784 313.846C80.0666 313.846 79.6201 313.949 79.2389 314.156C78.8577 314.363 78.5637 314.66 78.3568 315.046C78.1499 315.433 78.0464 315.893 78.0464 316.426H74.6895C74.6895 315.332 74.9373 314.382 75.4328 313.576C75.9283 312.77 76.6225 312.147 77.5155 311.706C78.4085 311.265 79.4376 311.044 80.6029 311.044C81.8008 311.044 82.8435 311.256 83.7311 311.681C84.6241 312.1 85.3183 312.683 85.8138 313.429C86.3093 314.175 86.5571 315.03 86.5571 315.994C86.5571 316.625 86.4318 317.249 86.1814 317.864C85.9363 318.479 85.498 319.163 84.8664 319.914C84.2348 320.66 83.3445 321.556 82.1956 322.601L79.7535 324.994V325.109H86.7776V328H74.8529ZM95.8988 328.368C94.494 328.362 93.2852 328.016 92.2724 327.33C91.265 326.644 90.4891 325.65 89.9446 324.349C89.4055 323.048 89.1387 321.482 89.1442 319.653C89.1442 317.829 89.4137 316.274 89.9528 314.989C90.4973 313.704 91.2732 312.727 92.2805 312.057C93.2933 311.382 94.4994 311.044 95.8988 311.044C97.2982 311.044 98.5015 311.382 99.5089 312.057C100.522 312.732 101.3 313.712 101.845 314.997C102.389 316.277 102.659 317.829 102.653 319.653C102.653 321.488 102.381 323.056 101.837 324.357C101.298 325.659 100.524 326.652 99.517 327.338C98.5097 328.025 97.3036 328.368 95.8988 328.368ZM95.8988 325.435C96.8571 325.435 97.6222 324.953 98.1939 323.99C98.7656 323.026 99.0488 321.58 99.0433 319.653C99.0433 318.384 98.9126 317.328 98.6513 316.484C98.3954 315.64 98.0305 315.005 97.5568 314.581C97.0885 314.156 96.5359 313.944 95.8988 313.944C94.9459 313.944 94.1836 314.42 93.6119 315.373C93.0401 316.326 92.7515 317.752 92.7461 319.653C92.7461 320.938 92.8741 322.01 93.13 322.871C93.3913 323.726 93.7589 324.368 94.2326 324.798C94.7063 325.223 95.2617 325.435 95.8988 325.435ZM111.358 328.229C110.138 328.229 109.052 328.019 108.099 327.6C107.152 327.175 106.403 326.592 105.853 325.852C105.309 325.106 105.028 324.246 105.012 323.271H108.573C108.595 323.679 108.728 324.039 108.973 324.349C109.224 324.654 109.556 324.891 109.97 325.06C110.383 325.228 110.849 325.313 111.366 325.313C111.905 325.313 112.382 325.218 112.796 325.027C113.209 324.836 113.533 324.572 113.767 324.235C114.002 323.897 114.119 323.508 114.119 323.067C114.119 322.62 113.993 322.225 113.743 321.882C113.498 321.534 113.144 321.262 112.681 321.066C112.224 320.87 111.679 320.772 111.048 320.772H109.488V318.174H111.048C111.581 318.174 112.052 318.082 112.461 317.897C112.874 317.712 113.196 317.456 113.424 317.129C113.653 316.797 113.767 316.41 113.767 315.969C113.767 315.55 113.667 315.182 113.465 314.866C113.269 314.545 112.992 314.295 112.632 314.115C112.278 313.935 111.864 313.846 111.391 313.846C110.912 313.846 110.473 313.933 110.076 314.107C109.678 314.276 109.36 314.518 109.12 314.834C108.881 315.15 108.753 315.52 108.736 315.945H105.347C105.363 314.981 105.638 314.131 106.172 313.396C106.705 312.661 107.424 312.087 108.328 311.673C109.237 311.254 110.264 311.044 111.407 311.044C112.561 311.044 113.571 311.254 114.437 311.673C115.303 312.092 115.975 312.658 116.455 313.372C116.939 314.08 117.179 314.875 117.173 315.757C117.179 316.693 116.888 317.475 116.299 318.101C115.717 318.727 114.957 319.125 114.021 319.293V319.424C115.251 319.582 116.188 320.009 116.83 320.706C117.478 321.398 117.8 322.264 117.794 323.304C117.8 324.257 117.525 325.103 116.969 325.844C116.419 326.584 115.66 327.167 114.69 327.592C113.721 328.016 112.61 328.229 111.358 328.229Z"
     fill="black"
     id="path312" />
  <line x1="1.54054" y1="550.973" x2="218.757" y2="550.973" stroke="black" stroke-width="4" id="line314" />
  <line x1="2.00002" y1="545.27" x2="2.00001" y2="734.757" stroke="black" stroke-width="4" id="line316" />
  <line x1="2.00002" y1="418.946" x2="2.00001" y2="545.27" stroke="black" stroke-width="4" id="line318" />
  <line x1="5.08086" y1="214.084" x2="1.99979" y2="418.976" stroke="black" stroke-width="4" id="line320" />
  <line x1="8.16196" y1="3.02898" x2="5.08089" y2="215.624" stroke="black" stroke-width="4" id="line322" />
  <line x1="234.621" y1="4.56951" x2="231.54" y2="217.164" stroke="black" stroke-width="4" id="line324" />
  <line x1="444.135" y1="4.56951" x2="441.054" y2="217.164" stroke="black" stroke-width="4" id="line326" />
  <line x1="656.73" y1="61.5575" x2="655.189" y2="243.341" stroke="black" stroke-width="4" id="line328" />
  <line x1="766.108" y1="64.6216" x2="766.108" y2="237.162" stroke="black" stroke-width="4" id="line330" />
  <line x1="869.324" y1="64.6216" x2="869.324" y2="237.162" stroke="black" stroke-width="4" id="line332" />
  <line x1="971" y1="64.6216" x2="971" y2="243.324" stroke="black" stroke-width="4" id="line334" />
  <line x1="1077.3" y1="64.6216" x2="1077.3" y2="237.162" stroke="black" stroke-width="4" id="line336" />
  <line x1="1177.43" y1="64.6216" x2="1177.43" y2="244.865" stroke="black" stroke-width="4" id="line338" />
  <line x1="1282.19" y1="64.6216" x2="1282.19" y2="240.243" stroke="black" stroke-width="4" id="line340" />
  <line x1="1382.32" y1="64.6216" x2="1382.32" y2="237.162" stroke="black" stroke-width="4" id="line342" />
  <line x1="1485.54" y1="64.6216" x2="1485.54" y2="240.243" stroke="black" stroke-width="4" id="line344" />
  <line x1="1599.54" y1="64.6216" x2="1599.54" y2="229.459" stroke="black" stroke-width="4" id="line346" />
  <line x1="1713.54" y1="231" x2="1713.54" y2="452.838" stroke="black" stroke-width="4" id="line348" />
  <line x1="1599.54" y1="298.784" x2="1599.54" y2="492.892" stroke="black" stroke-width="4" id="line350" />
  <line x1="6.18975" y1="2.54072" x2="232.649" y2="5.66429" stroke="black" stroke-width="4" id="line352" />
  <line x1="235.717" y1="5.6217" x2="448.312" y2="7.16224" stroke="black" stroke-width="4" id="line354" />
  <line x1="179.162" y1="214.089" x2="176.054" y2="391.251" stroke="black" stroke-width="4" id="line356" />
  <line x1="177.162" y1="420.946" x2="1.52588e-05" y2="420.946" stroke="black" stroke-width="4" id="line358" />
  <line x1="178.703" y1="216.054" x2="3.08107" y2="216.054" stroke="black" stroke-width="4" id="line360" />
  <line x1="406.703" y1="219.135" x2="218.757" y2="219.135" stroke="black" stroke-width="4" id="line362" />
  <line x1="469.865" y1="219.135" x2="429.811" y2="219.135" stroke="black" stroke-width="4" id="line364" />
  <line x1="598.811" y1="328.054" x2="598.811" y2="297.243" stroke="black" stroke-width="4" id="line366" />
  <line x1="329.676" y1="294.622" x2="301.946" y2="294.622" stroke="black" stroke-width="4" id="line368" />
  <line x1="408.243" y1="294.622" x2="351.243" y2="294.622" stroke="black" stroke-width="4" id="line370" />
  <line x1="370.811" y1="371.189" x2="370.811" y2="294.162" stroke="black" stroke-width="4" id="line372" />
  <line x1="654.73" y1="219.135" x2="633.162" y2="219.135" stroke="black" stroke-width="4" id="line374" />
  <line x1="668.595" y1="239.162" x2="654.73" y2="239.162" stroke="black" stroke-width="4" id="line376" />
  <line x1="603.892" y1="219.135" x2="494.514" y2="219.135" stroke="black" stroke-width="4" id="line378" />
  <line x1="597.73" y1="323.892" x2="440.595" y2="323.892" stroke="black" stroke-width="4" id="line380" />
  <line x1="573.081" y1="370.108" x2="491.432" y2="370.108" stroke="black" stroke-width="4" id="line382" />
  <line x1="600.811" y1="296.162" x2="429.811" y2="296.162" stroke="black" stroke-width="4" id="line384" />
  <line x1="653.189" y1="427.108" x2="439.054" y2="427.108" stroke="black" stroke-width="4" id="line386" />
  <line x1="838.054" y1="239.162" x2="694.784" y2="239.162" stroke="black" stroke-width="4" id="line388" />
  <line x1="838.054" y1="300.784" x2="694.784" y2="300.784" stroke="black" stroke-width="4" id="line390" />
  <line x1="941.27" y1="300.784" x2="899.676" y2="300.784" stroke="black" stroke-width="4" id="line392" />
  <line x1="1070.68" y1="300.784" x2="1004.43" y2="300.784" stroke="black" stroke-width="4" id="line394" />
  <line x1="1147.7" y1="300.784" x2="1075.3" y2="300.784" stroke="black" stroke-width="4" id="line396" />
  <line x1="1280.19" y1="300.784" x2="1207.78" y2="300.784" stroke="black" stroke-width="4" id="line398" />
  <line x1="1326.41" y1="300.784" x2="1254" y2="300.784" stroke="black" stroke-width="4" id="line400" />
  <line x1="1406.51" y1="300.784" x2="1351.05" y2="300.784" stroke="black" stroke-width="4" id="line402" />
  <line x1="938.189" y1="239.162" x2="867.324" y2="239.162" stroke="black" stroke-width="4" id="line404" />
  <line x1="1081.46" y1="239.162" x2="1004.43" y2="239.162" stroke="black" stroke-width="4" id="line406" />
  <line x1="1147.7" y1="239.162" x2="1070.68" y2="239.162" stroke="black" stroke-width="4" id="line408" />
  <line x1="1326.41" y1="242.243" x2="1207.78" y2="242.243" stroke="black" stroke-width="4" id="line410" />
  <line x1="1508.19" y1="242.243" x2="1431.16" y2="242.243" stroke="black" stroke-width="4" id="line412" />
  <line x1="1509.73" y1="300.784" x2="1431.16" y2="300.784" stroke="black" stroke-width="4" id="line414" />
  <line x1="1597.54" y1="300.784" x2="1535.92" y2="300.784" stroke="black" stroke-width="4" id="line416" />
  <line x1="1380.32" y1="233" x2="1355.68" y2="233" stroke="black" stroke-width="4" id="line418" />
  <line x1="1512.81" y1="226.838" x2="1488.16" y2="226.838" stroke="black" stroke-width="4" id="line420" />
  <line x1="1717.7" y1="226.838" x2="1535.92" y2="226.838" stroke="black" stroke-width="4" id="line422" />
  <line x1="1717.7" y1="448.676" x2="1597.54" y2="448.676" stroke="black" stroke-width="4" id="line424" />
  <line x1="1359.84" y1="246.405" x2="1359.84" y2="232.541" stroke="black" stroke-width="4" id="line426" />
  <line x1="656.27" y1="71.2432" x2="446.757" y2="71.2432" stroke="black" stroke-width="4" id="line428" />
  <line x1="1603.7" y1="63.5405" x2="659.351" y2="63.5405" stroke="black" stroke-width="4" id="line430" />
  <line x1="655.189" y1="297.243" x2="655.189" y2="485.189" stroke="black" stroke-width="4" id="line432" />
  <line x1="866.243" y1="298.784" x2="866.243" y2="485.189" stroke="black" stroke-width="4" id="line434" />
  <line x1="967.919" y1="298.784" x2="967.919" y2="485.189" stroke="black" stroke-width="4" id="line436" />
  <line x1="1072.68" y1="298.784" x2="1072.68" y2="486.73" stroke="black" stroke-width="4" id="line438" />
  <line x1="1177.43" y1="298.784" x2="1177.43" y2="486.73" stroke="black" stroke-width="4" id="line440" />
  <line x1="1282.19" y1="298.784" x2="1282.19" y2="486.73" stroke="black" stroke-width="4" id="line442" />
  <line x1="1382.32" y1="304.946" x2="1382.32" y2="486.73" stroke="black" stroke-width="4" id="line444" />
  <line x1="1485.54" y1="301.865" x2="1485.54" y2="486.73" stroke="black" stroke-width="4" id="line446" />
  <line x1="1599.07" y1="488.73" x2="653.18" y2="484.108" stroke="black" stroke-width="4" id="line448" />
  <line x1="552.595" y1="221.757" x2="552.595" y2="118.541" stroke="black" stroke-width="4" id="line450" />
  <line x1="218.757" y1="733.676" x2="1.54056" y2="733.676" stroke="black" stroke-width="4" id="line452" />
  <line x1="439.054" y1="739.838" x2="280.378" y2="739.838" stroke="black" stroke-width="4" id="line454" />
  <line x1="439.054" y1="424.027" x2="280.378" y2="424.027" stroke="black" stroke-width="4" id="line456" />
  <line x1="303.946" y1="292.622" x2="303.946" y2="422.027" stroke="black" stroke-width="4" id="line458" />
  <line x1="437.054" y1="743.985" x2="440.146" y2="321.877" stroke="black" stroke-width="4" id="line460" />
  <line x1="278.378" y1="744" x2="278.378" y2="422.027" stroke="black" stroke-width="4" id="line462" />
  <line x1="216.757" y1="731.649" x2="218.297" y2="614.568" stroke="black" stroke-width="4" id="line464" />
  <line x1="218.297" y1="589.946" x2="218.297" y2="526.784" stroke="black" stroke-width="4" id="line466" />
  <line x1="221.378" y1="500.595" x2="221.378" y2="471.324" stroke="black" stroke-width="4" id="line468" />
  <line x1="223.378" y1="470.243" x2="174.081" y2="470.243" stroke="black" stroke-width="4" id="line470" />
  <line x1="173.622" y1="549.892" x2="173.622" y2="455.919" stroke="black" stroke-width="4" id="line472" />
  <a id="G204" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0.00000001" id="rect500" width="223.37804" height="214.13503" x="8.1619596" y="3.02898" />
  </a>
  <a id="G205" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect502" width="205.33699" height="211.5423" x="235.717" y="5.6216998" />
  </a>
  <a id="G203" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect504" width="169.00005" height="203.78201" x="8.1619596" y="217.164" />
  </a>
  <a id="G202" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect506" width="173.62198" height="128.94601" x="1.52588e-05" y="420.94601" />
  </a>
  <a id="H201" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect512" width="106.75696" height="173.62151" x="659.35101" y="63.540501" />
  </a>
  <a id="H202" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect514" width="101.216" height="174.54041" x="766.10797" y="64.621597" />
  </a>
  <a id="H203" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect516" width="101.67603" height="178.70241" x="869.32397" y="64.621597" />
  </a>
  <a id="H204" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect518" width="106.30005" height="172.54041" x="971" y="64.621597" ry="0" />
  </a>
  <a id="H205" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect520" width="95.970093" height="174.54041" x="1081.46" y="64.621597" />
  </a>
  <a id="H206" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect522" width="104.75989" height="175.6214" x="1177.4301" y="64.621597" />
  </a>
  <a id="H207" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect524" width="100.13" height="172.54041" x="1282.1899" y="64.621597" />
  </a>
  <a id="H208" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect526" width="103.22009" height="175.6214" x="1382.3199" y="64.621597" />
  </a>
  <a id="H209" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect528" width="114" height="164.8374" x="1485.54" y="64.621597" />
  </a>
  <a id="H210" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect530" width="113.52991" height="186.86502" x="1485.54" y="301.86499" />
  </a>
  <a id="H211" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect532" width="103.22009" height="181.784" x="1382.3199" y="304.94601" />
  </a>
  <a id="H212" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect534" width="100.13" height="187.94601" x="1282.1899" y="298.784" />
  </a>
  <a id="H213" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect536" width="104.75989" height="187.94601" x="1177.4301" y="298.784" />
  </a>
  <a id="H214" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect538" width="102.13" height="185.94601" x="1075.3" y="300.784" />
  </a>
  <a id="H215" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect540" width="104.76105" height="187.94601" x="967.91901" y="298.784" />
  </a>
  <a id="H216" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0" id="rect542" width="101.67603" height="186.405" x="866.24298" y="298.784" />
  </a>
  <a id="H217" class="etage-nom" onclick="fetchBureauInfo(this.id)">
    <rect style="fill:#0000ff;fill-rule:evenodd;opacity:0;" id="rect544" width="211.05396" height="187.94598" x="655.18903" y="297.24301" />
  </a>
</svg>


   <div class="info-container">
      <div id="card-parent" class="card border-info mb-3" style="display:none">
         <div class="card-body"></div>
      </div>
   </div>


   <script>

      var paths = document.querySelectorAll('.etage-nom');

      paths.forEach(function (path) {
         path.addEventListener('mouseover', function () {
            path.setAttribute('fill', 'blue');
         });
         path.addEventListener('mouseout', function () {
            path.setAttribute('fill', 'black');
         });
      });

   </script>
   <script>
      function fetchBureauInfo(bureauId) {
          console.log("COUCOU");
          console.log(bureauId);
          fetch(`/etage1/bureau/${bureauId}`)
              .then(response => response.json())
              .then(data => {
                  displayBureauInfo(data, bureauId);
              })
              .catch(error => console.error('Error:', error));
      }

      function displayBureauInfo(data, bureauId) {
      const parentCard = document.getElementById('card-parent');

      parentCard.style ='display:block';
      const cardGroup = document.querySelector('.card');
      cardGroup.innerHTML = '';

      const bureauCard = document.createElement('div');
      bureauCard.classList.add('card');
      
      bureauCard.innerHTML = `
                <div class="card-header d-flex justify-content-between align-items-center">
            <span>Bureau ${bureauId}</span>
            <button type="button" class="btn btn-outline-info close-btn" onclick="closeCard()">x</button>
        </div>
          <div class="card-body">
              <div class="person-cards"></div>
          </div>
      `;

      const personCardsContainer = bureauCard.querySelector('.person-cards');

      data.forEach(person => {
          const card = document.createElement('div');
          //card.classList.add('card', 'mb-2');
     card.innerHTML = `
              <p class="card-title">${person.nom} ${person.prenom}</p>
              <div class="card-body">
                  <p class="card-text">${person.statut}</p>
                  <p class="card-text">email : ${person.email}</p>
                  <p class="card-text">numro : ${person.telephone}</p>
              </div>
              <hr/>

          `;
          personCardsContainer.appendChild(card);
      });
      cardGroup.appendChild(bureauCard);
      }

      function closeCard() {
         const parentCard = document.getElementById('card-parent');
         parentCard.style.display = 'none';
      }
  </script>





</div>
