<section class="">
    <footer class="text-center text-white" style="background-color: #333333; padding: 10px;">
        <div class="container p-2 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center mb-2">
                    <img src="images/ua2.png" class="img" style="max-height: 50px; margin-right: 10px;">
                    <span>CIA – Commission Interne des Aménagements</span>
                </p>
                <p class="mb-2">
                    <marquee style="font-size: 14px;">
                        Site web de la CIA qui permet de gérer son personnel.
                    </marquee>
                </p>
            </section>
        </div>
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2); font-size: 12px;">
            © 2024 Copyright:
            <a class="text-white" href="#">D.M.J</a>
        </div>
    </footer>
</section>
