{% extends 'administration/baseAdmin.html.twig' %}
{% block title %} Administration {% endblock %}

{% block content %}
<div class="card card-form mt-2">
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}