{% extends 'administration/baseAdmin.html.twig' %}
{% block title %} Administration - personnel{% endblock %}

{% block content %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<div class="card card-form mt-2">
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}